body{
    font-family: 'Hind Siliguri', sans-serif;
    background-color: #ededed;  
    line-height: 20px;
}

.widget{
    position: relative;
    margin: 20px 0px;
}

.widget .widget-header,
.widget .widget-body{
    padding: 5px 30px;
}

.widget .widget-header .widget-title{
    letter-spacing: 1px;
    font-size: 1.2em;
    text-transform:  uppercase;
}

.sidebar{
    position: relative;
    overflow: hidden;
}

.sidebar .widget:first-child{
    margin-top: 0;
}

.bg-orange{
    background: #ff6a28;
    color: #fff !important;
}

.sidebar .widget .list-group{
    margin-bottom: 0;
}

.sidebar .widget .list-group li{
    border: 0;
    border-radius: 0;
    background: transparent;
    padding-left: 0;
}

.sidebar .widget.orange .list-group li > a{
    color: #fff;
    letter-spacing:  1px;
    text-transform:  uppercase;
    padding: 10px 2em;
}

.widget .box .box-img{
    overflow: hidden;
    position:  relative;
    border-radius:  50%;
    display: inline-block;
    padding: 0px 20px;
}

.widget .box .box-img .box-icon{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    top: 0;
    left: 0;
}

.widget .box-img .box-icon a{
    color: #fff;
    font-size: 3em;
    line-height: 7;
    display: none;
}

.widget .box-img:hover .box-icon{
    background: rgba(0,0,0,.4);
}

.widget .box-img:hover .box-icon a{
    display: block;
}

.banner{
    height: 400px
}

.banner .box-content{
    text-align: center;
    color: #fff;
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .box-title{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 5px;
}

.bg-banner{
    background: url('../images/sidebar-women.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn{
    padding: 10px 2em;
    border-radius: 0;
}

.btn-cream{
    background: #f56928;
    text-decoration: none;
    color: #Fff;
}

.btn-cream:hover{
    background: #222;
    color: #fff;
}

.btn-orange{
    background: #f56928;
    text-decoration: none;
    color: #Fff !important;
}

.btn-orange:hover{
    background: #222;
    color: #fff;
}

.hero{
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    position: relative;
}

.carousel-control.left, .carousel-control.right{
    background: transparent !important;
}

.carousel-control{
    width: 5% !important;
}

.hero-text{
    width: 50%;
    padding: 50px;
    top: 10%;
    position: relative;
}

.hero-text .hero-title{
    font-size: 3em !important;
    font-weight: 600;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.hero-text p{
    line-height: 20px;
    font-size: 1em !important;
    letter-spacing: 1px;
}

.hero-text .hero-action{
    margin-top: 20px;
}

.text-white{
    color: #fff;
}

.text-center{
    text-align: center;
}

.bg-white{
    background-color: #fff;
}

.widget .box{
    background: transparent;
}

.box{
    position: relative;
    background: #fff;
    height:  100%;
}

.box .box-header,
.box .box-content{
    padding: 15px;
}

.widget .box .box-header{
    padding: 10px 8px;
}


.box .box-header .box-title{
    font-size: 2em;
    margin: 0;
    font-weight: 600;
    display: inline-block;
}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

.w-100{
    width: 100%;
}

.homepage-product{
    float: left;
    padding: 0px 10px;
}

.homepage-product:first-child{
    padding-left: 0;
}

.homepage-product:last-child{
    padding-right: 0;
}

.r1{
    margin: 20px 0;
}

.clearfix{
    clear: both;
}

.homepage-product .box{
    position: relative;
    height: 380px;
    background: #fff;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.homepage-product .box-header{
    position: absolute;
    left: 20px;
    letter-spacing: 1px;
    top: 10px;
    padding: 10px 0 0 0;
}

.homepage-product .box-header span{
    font-size: 1.5em;
    letter-spacing: 0.8px;
}

.homepage-product .box-footer{
    position: absolute;
    bottom: 0;
    right: 0
}

.btn-default{
    background: transparent;
    border: 0;
    color: #f56928;
}

.bg-orange{
    background: #ff6a28 !important;
}

.diskon{
    font-weight: 600;
    font-size: 12em;
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.diskon span{
    vertical-align: top;
    position: absolute;
    left: 99%;
    font-size: 0.3em !important;
    top: 100%;
}

.footer{
    margin-top: 60px;
    font-size: 16px;
    line-height: 25px;
    color: #a29e9e;
    padding: 30px 0px;
}

.footer .widget .widget-title{
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.footer-menu ul,
.footer-menu-inline ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-menu ul li,
.footer-menu-inline ul li{
    margin: 10px 0px;
}

.footer-menu ul li > a{
    color: #a29e9e;
}

.footer .widget .text{
    margin: 10px 0px;
}

.footer .widget .text span{
    margin-right: 20px;
}

.footer-menu-inline ul li{
    display: inline-block;
    margin-right: 20px;
}

.copyright{
    padding: 0px 15px;
    background: #141414;
    vertical-align: middle;
    line-height: 40px;
    position: absolute;
    width: 100%;
    margin-top: 30px;
}

.copyright span{
    line-height:60px;
}

.navbar-custom{
    border-radius: 0;
    border: 0;
    position: relative;
    background: #fff;
}

.navbar-custom li > a{
    line-height: 30px;
}

.navbar-small{
    border-bottom: 1px solid #bfbfbf;
    padding-left: 0;    
}

.navbar-small ul li{}

.navbar-small ul li > a{
    padding: 5px 10px;
    line-height: auto !important;
}

.navbar-small ul li.active > a{
    background: transparent !important;   
}

.form-group-search{
    display:  inline-block;
    position:  absolute;
    left: 210px;
    right:  0;
    top: 50%;
}


.form-group-search .form-control{
    width: 80%;
    margin: 0;
    float:  left;
    border-radius:  0;
    border-right: 0;
    padding: 20px;
}

.form-group-search .btn-search{
    width: 10%;
}

.qty{
    width: 30px;
    height: 30px;
    text-align: center;
    background: #ffc455;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
}

.bg-dark{
    background-color: #222;
}

.box-img{
    margin-bottom: 20px;
}

.box-img .img-rounded{
    border-radius: 50%;
}

.form-control{
    border-radius: 0;
    padding: 20px 10px;
}

.form-group label{
    font-size: 1.1em;
    font-weight: normal;
}

.product-qty{
    display: inline-block;
    vertical-align: middle;
}

.product-qty .form-control{
    display: inline-block;
    width:  auto;
    vertical-align: middle;
    border: 1px solid #bfbfbf;
}

.list-group-item{
    border: 0;
    border-radius: 0 !important;   
}

.list-group-item.active:hover,
.list-group-item:hover{
    background: #f56928;
}

.list-group-item:hover > a{
    color: #fff;
}

.list-group-item.active{
    background: #ffc455;
}

.list-group-item > a{
    display: block;
    text-decoration: none;
    padding: 7px 0px;
}

.list-group-item.active > a{
    color: #fff;
}

.bg-transparent{
    background: transparent;
}

.card{
    position: relative;
    margin: 20px 0;
}

.card.inline{
    background: #fff;
    height:  auto;
}

.card.inline .card-img,
.card.inline .card-body{
    display: inline-block;
}

.card.inline .card-body{
    float: right;
    padding: 10px 15px
}

.box .box-header .box-tools{
    float: right;
}

.box .box-header .box-tools a{
    color: #222;
}

.btn-sm{
    padding: 8px 10px;
}

.pagination li a{
    border-radius: 0 !important;
    padding: 10px 15px;
    color: #222;
}

.pagination li.active a{
    background: #ffc455;
    border-color: #ffc455;
}

.pagination li.active:hover a{
    background: #ff6a28;
    border-color: #ff6a28;
    color: #fff;
}

.no-padding{
    padding: 0 !important;
}

.widget.bg-white a{
    color: #a29e9e;
}

.widget.bg-orange a{
    color: #fff;
}

.main{
    padding: 20px;
    margin-bottom: 30px;
}

.main .toolbar{
    position:  relative;
    margin-bottom:  20px;
}

.main .toolbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.main .toolbar li{
    margin-right: 20px;
    display: inline-block;
}

.main .toolbar li > a{
    color: #222;
    line-height: 27px;
}

.main .toolbar select{
    border: none;
}

.product{
    position: relative;
}

.product .product-detail{
    vertical-align: middle;
}

.product .product-title{
    font-size: 1.4em;
    letter-spacing: 1px;
    margin: 5px 0px;
}

.product .price{
    color:  #ff6a28;
    font-size: 1.1em;
}

.product .rating{
    color: gold;
}

.product a{
    color: #222;
    text-decoration: none;
}

.product:hover .btn-add-cart{
    display: block;
}

.product .btn-add-cart{
    display: none;
    position: absolute;
    right: 0;
    padding: 8px 12px;
}

.single-product-detail{
    text-transform: uppercase;
}

.single-product-detail .store{
    color: #ff6a28;
    font-size: 1.5em;
}

.single-product-detail  .product-title{
 font-weight: 600;
 letter-spacing: 0.08em;
 margin-bottom: 20px;
 margin-top: 15px;
}

.single-product-detail .tags span,
.single-product-detail p{
    color: #a29e9e;
}

.single-product-detail p{
    text-transform: none;
    line-height: 25px;
    font-size: 1.1em;
    letter-spacing: 0.5px;
}

.footer-single-product{
    margin-top: 30px;
    position: relative;
}

.footer-single-product .nav-tabs li:first-child a{
    padding-left: 0;
}

.footer-single-product .nav-tabs li a{
    border: 0 !important;
    border-bottom: 2px transparent #fff !important;
    font-size: 1.1em;
    letter-spacing: 1px;
    background: transparent;
    color: #222;
    padding: 20px 0;
    margin-right: 3em;
}

.footer-single-product .nav-tabs li:hover a span,
.footer-single-product .nav-tabs li.active a span{
    border-bottom: 3px solid #ff6a28 !important;
    padding: 15px 0px;
    color: #6b5146;
}

.table-cart tr:hover{
    background: #e8e8e8;
}

.table-cart thead tr:hover,
.table-cart tfoot tr:hover
{
    background: transparent;
}

.table-cart tr:hover th .td-actions,
.table-cart tr:hover td .td-actions{
 opacity: 1;
}

.table-cart .td-actions{
    margin-left: 5px;
    opacity: 0;
}

.table-cart .td-actions .btn{
    padding: 0;
    background: none;
    margin: 0;
    font-size: 1em;
    border: 0;
}

.table-cart .td-actions .btn-danger{
    color: #da524f;
}

.table-cart .cart-thumb{
    width: 50px;
    overflow: hidden;
    height: 50px;
    border-radius: 50%;
}

.table-cart td{
    vertical-align: middle !important;
}

.btn-checkout{
    margin-top: 20px;
}

.pt-0{
    padding-top: 0;
}

.p-20{
    padding: 20px;
}

.privacy ul li,
.privacy ol li{
    margin-bottom: 10px;
}

.privacy ul li a,
.privacy ol li a{
    color: #222 !important;
    text-transform: uppercase;
    font-weight: 600;
}

.privacy ul > li,
.privacy ol > li{
    font-weight: 600;   
}

.privacy ul li > ul li,
.privacy ol li > ol li{
    font-weight: normal !important;
}

.ptb-5{
    padding: 5px 0px;
}

.navbar-custom .navbar-nav>li>a{
    padding: 30px 15px;
}

.product-content{
    margin-bottom: 20px;
    height: 550px;
    overflow: hidden;
}

.product-content img{
    margin-bottom: 10px;
}

.checkout-table{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}

.search-wrapper{
    position: absolute;
    width: 200px;
    right: 0;
    z-index: 9;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
}


.bg-login, .bg-register{
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}

.bg-login{
    background-image: url('../images/brooke-lark-609908-unsplash.jpg');
    
}

.bg-register{
    background-image: url('../images/hipster-mum-236832-unsplash.jpg');
}


.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.3);
    left: 0;
}

.login-item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 400px){
    .w-10, .w-20, .w-30, .w-40,.w-50, .w-70{
        width: 100%;
        padding: 0;
    }

    .homepage-product{
        margin-bottom: 20px;
    }

    /*.hero{
        height: auto;
        background-position: right;
        background-size: cover;
    }*/

    .hero-text{
        width: 100% !important;
    }

    .hero-text .hero-title{
        font-size: 2em !important;
        font-weight: 600;
        letter-spacing: 4px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 800px){
    .w-10, .w-20, .w-30, .w-40,.w-50, .w-70{
        width: 100%;
        padding: 0;
    }
    .hero-text {
        width: 60%;
    }
    .hero {
        height: auto;
        background-position: left;
        background-size: cover;
    }
    .r1{
        /*margin: 10px;*/
    }

    .homepage-product:first-child{
        margin-top: 0;
    }

    .homepage-product{
        margin: 10px 0px;
    }

    .homepage-product .box{
        background-size: cover;
        background-position: center;
    }

    .navbar-brand {
        padding: 0px !important;
    }
    .navbar-custom .navbar-nav>li>a{
        padding: 15px 15px;
    }
}